@model Teachers

@{
    ViewData["Title"] = "Details";
}



<h1>Details</h1>

<div>
    <h4>Teachers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherPhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutTeacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AboutTeacher)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="editbtn">Edit</a> |
    <a class="btn btn-grd-inverse" asp-action="Index">Back to List</a>
</div>
