@model IEnumerable<BlogPostComments>
@{
    ViewData["Title"] = "Index";
}

<h1>Blog Post Comments</h1>
<p>
    <a class="createbtn" asp-action="Create" style="color: white;">
        Create
    </a>
</p>

@section css {
    <style>
        .image {
            width: 120px;
            height: auto;
        }
    </style>
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Plan Type</th>
                        <th scope="col">Plan Price</th>
                        <th scope="col">Plan Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-entity-id="@item.Id">
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Comment
                            </td>
                            <td class="atributlar">
                                <a asp-action="Details" asp-route-id="@item.Id" class="detailbtn">Details</a> |
                                <a onclick="removeEntity(event, @item.Id, '@item.Name')" class="deletebtn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>