@model LastNewsandEvents

@{
    ViewData["Title"] = "Details";
}



<h1>Details</h1>

<div>
    <h4>Last News and Events</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventPhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Explanation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="editbtn">Edit</a> |
    <a class="btn btn-grd-inverse" asp-action="Index">Back to List</a>
</div>
