@model IEnumerable<LastNewsandEvents>
@{
    ViewData["Title"] = "Index";
}

<h1>Last News and Events</h1>
<p>
    <a class="createbtn" asp-action="Create" style="color: white;">
        Create
    </a>
</p>

@section css {
    <style>
        .image {
            width: 120px;
            height: auto;
        }
    </style>
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Event Photo</th>
                        <th scope="col">Title</th>
                        <th scope="col">MainText</th>
                        <th scope="col">Explanation</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-entity-id="@item.Id">
                            <td>
                                <img class="image" src="~/photouploads/images/@item.EventPhoto" />
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.MainText.HtmlToPlainText().ToEllipse(10)
                            </td>
                            <td>
                                @item.Explanation.HtmlToPlainText().ToEllipse(10)
                            </td>
                            <td class="atributlar">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="editbtn">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" class="detailbtn">Details</a> |
                                <a onclick="removeEntity(event, @item.Id, '@item.Title')" class="deletebtn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>